/* Global Styles */

body {
  margin: 0;
  font-family: "Georgia", sans-serif;
  font-size: 17px;
  color: black;
}

h2 {
  display: block;
  font-weight: bold;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

/* Global Styles - New Stories */

.img-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  font-family: Georgia, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-top: 15px;
  text-align: center;
}

.narrative {
  margin-top: 16px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.stories .text-content {
  height: 250px;
}

/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  font-size: 14px;
  font-weight: bold;
  font-family: verdana, sans-serif;
  background-color: white;
  z-index: 1;
}

.brand {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
  flex-grow: 1;
  padding-left: 20px;
}
.brand img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

header nav {
  padding-right: 40px;
}

/* Main Container */

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

/* First Column */

.column.large {
  width: 630px;
}

.lead-story .img-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  text-align: left;
  font-size: 40px;
  width: 630px;
}

.lead-story .img-content span {
  margin-left: 20px;
}

.fall-cancelled.img-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.pop-culture.img-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

/* Second Column */

.column.medium {
  width: 300px;
}

.cat-ceo.img-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

/* Third Column */

.column.small {
  width: 240px;
}

img.cookie {
  height: 240px;
}

.news-bite .bite {
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  background-color: whitesmoke;
  font-family: verdana, sans-serif;
  font-size: 12px;
  color: dimgray;
}

.news-bite h3 {
  margin-bottom: 41px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.bite span {
  padding-left: 10px;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: verdana, sans-serif;
  font-size: 12px;
}

footer .title {
  display: inline-block;
  padding-right: 25px;
  border-right: 2px solid white;
  font-family: Georgia,sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

footer nav {
  display: inline-block;
  padding-left: 25px;
}

/*  */
